* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: fit-content;
}

.container .numpad {
    display: grid;
    grid-template: auto auto repeat(5,45px) / repeat(4,45px);
    gap: 10px;
    font-weight: bold;
}

.choose-input {
    grid-column: span 4;
}

.form-check-input:checked {
    background-color: #aaa;
}

.display {
    white-space: nowrap;
    font-size: 20px;
    overflow: hidden;
    grid-column: span 4;
}

.display span {
    opacity: 0.5;
}

.display span.active {
    opacity: 1; 
}
button:active {
    background-color: #bbb !important;
}